body{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(88, 86, 84, 0.74);
    height: 80px;
    width: 100%;
    padding: 10px;
}


ul li{
  display: inline;  
    padding-right: 30px;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    
}
ul li a:before{
    position: absolute;
    content: "";
    width: 0;
    background-color:black;
    height: 2px;
    bottom: 0;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
a{
  text-decoration: none;
  color: aliceblue;
}
ul li a:hover:before{
    width: 80px;
}
.checkbtn{
  font-size: 30px;
  color: aliceblue;
}
#check{
  display: none;
}
@media(max-width:858px){
  .checkbtn{
    display: block;
    cursor: pointer;
  }
  .navbar{
    justify-content: flex-start;
    padding: 20px;
  }
  .element{
    position: fixed;
    width: 115px;
    margin-left: 10px;
    margin-top: 50px;
    text-align: left;
    background-color: rgb(125 136 136 / 66%);;
    border-radius: 30px;
    height: 20vh;
    top:80px;
    left:-100%;
    text-align: center;
    color: black;
    transition: all .5s;
   
  }
  ul li {
    display: flex;
    text-align: left;
  }
  #check:checked ~ ul{
    left:0;

  }
  ul li a:before{
    display: none;
  }
  ul li a:hover:before{
    display: none;
  }

}