body{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: #252020;
 
}
.container{
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;

}
span{
 
  color:rgb(189, 31, 31);
  font-size: 30px;
}
.first-Name,.last-Name{
  margin:0 10px;

}
.first-Name{
  transform: translateX(-1000px);
}
.last-Name{
  transform: translateX(1000px);
}
.second-name{
 transform: translateY(-400px);
}
